/*

            FOOTER

*/            

footer{
    width: 100%;
    bottom: 0;
    /*
    background: linear-gradient(to right, #121212, #2d0b00);
    color: #fff;
    */
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    /*
    color: #fff;
    */
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}